$bp-lar-screen: 1008px;
$bp-med-screen: 641px;
$bp-sm-screen: 320px;

$col-level-0: #ffffff;
$col-level-1: #f2f2f2;
$col-level-2: #dad9d9;
$col-level-3: #585d71;

$col-brand-1: #0b25e5;
$col-brand-2: #0c1642;

$container-width: 700px;

$main-spacing: 0.5em;
$secondary-spacing: 0.25em;


$font-level-1: 22pt 'Roboto-Medium', sans-serif;
$font-level-2: 17pt, 'Roboto-Medium', sans-serif;
$font-level-3: 34pt, 'Roboto-Regular', sans-serif;

$button-size-large: 48px;
$button-size-small: 32px;